/**
 * FONTS
 */

@font-face {
    font-family: 'Troika';
    src: url('../fonts/troika-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/**
 * GENERAL
 */

body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/**
 * TYPOGRAPHY
 */

body {
    font-family: 'Troika', Roboto, sans-serif;
    color: #fff;
    text-shadow: 0px 1px 1px black, 0px -1px 1px black, 1px 0px 1px black, -1px 0px 1px black;
}

a {
    color: #99caff;
}

a:hover {
    color: #5baaff;
}

small {
    font-size: 60%;
}

.h1,
h1 {
    font-size: 2rem;
}

.h2,
h2 {
    font-size: 1.75rem;
}

.h3,
h3 {
    font-size: 1.5rem;
}


/**
 * HEADER
 */

.navbar {
    margin: 20px 0;
    font-size: 1.5rem;
}

.navbar-brand {
    font-weight: 400;
    font-size: 1.5rem;
}

.navbar .nav-link {
    padding: 0;
}


/**
 * CARDS
 */

h1.card-header {
    background-color: #4B515D;
}


/**
 * CHARACTERS
 */

#characters .card-img-left {
    float: left;
    padding-right: 1em;
    border-bottom-left-radius: calc(.25rem - 1px);
}

#characters .card-block {
    padding: .5rem;
}

#characters .form-check-label {
    padding-left: 0;
}

#characters .progress {
    margin-bottom: 5px;
}

#characters .progress-bar {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}


/**
 * RANKINGS
 */

#rankings,
#rankings .badge {
    font-size: 1.4rem;
}

#rankings {
    color: #fff;
}

#rankings a {
    color: #fff;
}

#rankings img {
    float: left;
    margin-right: 10px;
    height: 32px;
    width: 32px;
}


/**
 * MDB
 */

label {
    font-size: inherit;
}

#navigation .avatar img {
    height: 32px;
    width: 32px;
}

#navigation .avatar .dropdown-toggle:after {
    display: none;
}

.card-block h3,
.card-block h5 {
    margin-bottom: 0rem;
}


/**
 * BUTTONS
 */
