/**
 * FONTS
 */

@font-face {
    font-family: 'Troika';
    src: url('../fonts/troika-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/**
 * GENERAL
 */

body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body,
button,
input,
textarea,
.form-control-feedback {
    font-family: 'Troika', Roboto, sans-serif;
    color: #fff;
    font-size: 1.2rem;
}

body,
button {
    text-shadow: 0px 1px 1px black, 0px -1px 1px black, 1px 0px 1px black, -1px 0px 1px black;
}

a,
a:hover {
    color: #fff;
}

small {
    font-size: 60%;
}

.h1,
h1 {
    font-size: 2.25rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}


/**
 * FORMS
 */

label,
.form-control {
    font-size: 1.2rem;
}

label {
    color: #fff599;
}

input,
.btn-lg {
    font-size: 1.75rem !important;
}


/**
 * HEADER
 */

.navbar,
.navbar-brand {
    font-size: 1.75rem;
}

.navbar {
    margin: 20px 0;
}

.navbar-brand {
    font-weight: 400;
}

.navbar .nav-link {
    padding: 0;
}

.navbar .avatar img {
    height: 32px;
    width: 32px;
}

.navbar .avatar .dropdown-toggle:after {
    display: none;
}

.navbar a,
.navbar .dropdown-item {
    color: #fff;
}

.navbar form input {
    margin: 0;
}


/**
 * CARDS
 */

h1.card-header,
.modal-header {
    background-color: #4B515D;
}

h3.card-header {
    background-color: #eee;
}

.card-block h3,
.card-block h5 {
    margin-bottom: 0rem;
}

.card-text {
    color: #000;
    text-shadow: none;
}


/**
 * TABS
 */

.nav-tabs {
    font-size: 1.5rem;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #4285F4;
    border: none;
}

.nav-tabs .nav-link {
    background-color: #b0bec5;
    border: none;
}


/**
 * BUTTONS
 */

.btn {
    font-size: 1.25rem;
    cursor: pointer;
}

.btn-link {
    color: #fff !important;
    background-color: #fafafa;
}


/**
 * BARS
 */

.progress {
    margin-bottom: 5px;
}

.progress-bar {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}


/**
 * ALERTS
 */

.alert {
    display: inline-block;
}

.alert-warning {
    background-color: #ffea9b;
    border-color: #cea97d;
    color: #f7ca74;
}


/**
 * FIGHTERS
 */

.Deep,
.Deep a {
    background-color: #cb4d01 !important;
    color: #ffd0b4 !important;
}

.John,
.John a {
    background: #873fa5 !important;
    color: #e9b4ff !important;
}

.Henry,
.Henry a {
    background: #015907 !important;
    color: #93d297 !important;
}

.Rudolf,
.Rudolf a {
    background: #636363 !important;
    color: #d0d0d0 !important;
}

.Louis,
.Louis a {
    background: #3071d7 !important;
    color: #c6d4ea !important;
}

.Dennis,
.Dennis a {
    background: #578e8e !important;
    color: #b8dada !important;
}

.Woody,
.Woody a {
    background: #7c4631 !important;
    color: #c5aba0 !important;
}

.Davis,
.Davis a {
    background: #2057a2 !important;
    color: #a7b6cc !important;
}

.Firen,
.Firen a {
    background-color: #ea6e0e !important;
    color: #FFE390 !important;
}

.Freeze,
.Freeze a {
    background-color: #2792dc !important;
    color: #bfe5ff !important;
}


/**
 * CHARACTERS
 */

#characters .card {
    margin-bottom: 20px;
}

#characters .card-img-left {
    float: left;
    padding-right: .5em;
    border-radius: 0;
}

#characters .card-block {
    padding: .5rem;
}

#characters .form-check-label {
    padding-left: 0;
}


/**
 * RANKING
 */

#ranking {
    margin-bottom: 1.25rem;
}

#ranking,
#ranking .badge {
    font-size: 1.4rem;
}

#ranking img {
    float: left;
    margin-right: 10px;
    height: 32px;
    width: 32px;
}
